.button {
	padding: 0 40px;
	font-size: 16px;
	line-height: 20px;
	border: none;
	border-radius: 2px;
	color: var(--color-text-alternate);
	background-color: var(--color-bg-brand);
	transition: .3s ease-in-out;
	transition-property: color, background-color, transform;
	backface-visibility: hidden;
	cursor: pointer;

	&:hover {
		color: var(--color-text-alternate);
		background-color: var(--color-control-hover);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px var(--color-bg-default), 0 0 0 4px var(--color-bg-brand);
	}

	&:active {
		transform: scale(.99);
		box-shadow: none;
	}

	&:disabled {
		opacity: .3;
	}

	&_size_lg {
		font-size: 18px;
		padding: 20px 40px;
	}

	&_size_sm {
		padding: 10px 20px;
	}

	&_view_transparent {
		color: var(--color-link-external);
		border: 1px solid var(--color-bg-border);
		background-color: transparent;

		&:hover {
			background-color: transparent;
			color: var(--color-link-external);
			border-color: var(--color-control-hover);
		}
	}
}
