extends ../layouts/default

block vars
	- var title = '404';

block content
	.layout.errorpage
		.container.layout__inner
			.container.container_narrow.layout__content
				.errorpage__inner(style="background-image: url('./assets/images/illustrations/404_illustration.svg')")
