extends ../layouts/default

block vars
	- var title = 'FAQ';

block content
	.layout
		.container.layout__inner
			h1.layout__title Help center
			.container.container_narrow.layout__content
				.tabs.js-tabs
					.tabs__navigation
						ul.tabs-navigation
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item is-active" href="#general-questions") General questions
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item" href="#technical") Technical
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item" href="#how-to-use") How to use
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item" href="#other") Other
					.tabs__panels
						.tabs-panel(class="js-tabs-panel is-active")
							h2 How do I start scanning?
							.readmore.js-read-more
								p Scanning with PT BBS is fast and easy. Just enter the address of your site—on the internet or a local network—and configure your scanning method: <span class="readmore__button js-readmore-button">Развернуть ▼</span>
								.readmore__hidden-text.js-read-more-hidden-text
									ul
										li Without confirmation of site ownership, you can scan via an agent. An agent is a small program that can be run without local installation—just open a secure executable file and you can start scanning. This is a convenient method when you cannot or do not want to make alterations to your site's root directory, or when your site is located behind a NAT (in a local network). Note that this method does not allow for anonymous scanning. All requests from the agent are tunneled from our service to the site being scanned via the computer of the user who initiated the scanning. This means that the computer (IP address) where the requests originated will be visible on the site side.
										li With confirmation of site ownership. For this method, a special HTML file must be placed in the root directory of the site that you want to scan. Our system will "see" the file and allow scanning to be initiated.
						.tabs-panel(class="js-tabs-panel")
							h2 Что такое агент и для чего он нужен? Зачем могут понадобиться несколько агентов?
							p Агент — это небольшая open-source программа (безопасный исполняемый файл), не требующая установки на компьютере и особых привилегий. Агент нужен для сканирования сайтов в локальных сетях (за NAT) и в тех случаях, когда нет возможности подтвердить владение сайтом с помощью сертификата, например когда аудит проводят внешние эксперты, не имеющие доступа к серверам сайта. Агент создает туннель, через который передаются запросы от сканирующего сервера к проверяемому сайту. Развернуть ▼
							p Агент — это небольшая open-source программа (безопасный исполняемый файл), не требующая установки на компьютере и особых привилегий. Агент нужен для сканирования сайтов в локальных сетях (за NAT) и в тех случаях, когда нет возможности подтвердить владение сайтом с помощью сертификата, например когда аудит проводят внешние эксперты, не имеющие доступа к серверам сайта. Агент создает туннель, через который передаются запросы от сканирующего сервера к проверяемому сайту. Развернуть ▼
							p Агент — это небольшая open-source программа (безопасный исполняемый файл), не требующая установки на компьютере и особых привилегий. Агент нужен для сканирования сайтов в локальных сетях (за NAT) и в тех случаях, когда нет возможности подтвердить владение сайтом с помощью сертификата, например когда аудит проводят внешние эксперты, не имеющие доступа к серверам сайта. Агент создает туннель, через который передаются запросы от сканирующего сервера к проверяемому сайту.  Развернуть ▼
						.tabs-panel(class="js-tabs-panel")
							p How to use
						.tabs-panel(class="js-tabs-panel")
							p Other
