extends ../layouts/default

block vars
	- var title = 'FAQ';

block content
	.layout
		.container.layout__inner
			h1.layout__title Help center
			.container.container_narrow.layout__content
				.tabs.js-tabs
					.tabs__navigation
						ul.tabs-navigation
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item is-active" href="#general-questions") General questions
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item" href="#technical") Technical
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item" href="#how-to-use") How to use
							li.tabs-navigation__item
								a(class="tabs-navigation__link js-tabs-nav-item" href="#other") Other
					.tabs__panels
						.tabs-panel(class="js-tabs-panel is-active")
							p General questions
						.tabs-panel(class="js-tabs-panel")
							p Technical
						.tabs-panel(class="js-tabs-panel")
							p How to use
						.tabs-panel(class="js-tabs-panel")
							p Other
