extends ../layouts/default

block vars
	- var title = 'FAQ';

block content
	.layout
		.container.layout__inner
			h1.layout__title Help center
			.container.container_narrow.layout__content
				include ../content/faq/content
