extends ../layouts/default

block vars
	- var title = 'Main page';

block content
	include ../content/index/main-screen
	include ../content/index/advantages
	include ../content/index/questions
	include ../content/index/signup
