extends ../layouts/default

block vars
	- var title = 'Privacy Policy';

block content
	.layout
		.container.layout__inner
			.container.container_narrow.layout__content
				h1.layout__title License Agreement
				include ../content/legal/content
