extends ../layouts/default

block vars
	- var title = 'Privacy Policy';
	- var description = "Vijn legal"

block content
	.layout
		.container.layout__inner
			.container.container_narrow.layout__content
				include ../content/legal/content
