extends ../layouts/default

block vars
	- var title = 'Privacy Policy';
	- var description = "Vijn privacy policy";

block content
	.layout
		.container.layout__inner
			h1.layout__title Privacy Policy
			.container.container_narrow.layout__content
				include ../content/legal/privacypolicy

