footer.footer
	.container.container_wide.footer__inner
		ul.footer__menu
			li.footer__menu-item
				a(href="./licenseagreement.html").footer__menu-link License agreement
			li.footer__menu-item
				a(href="./privacypolicy.html").footer__menu-link Privacy policy
