footer.footer
	.container.container_wide
		ul.footer__menu
			li.footer__menu-item
				a(href="#").footer__menu-link Terms of services
			li.footer__menu-item
				a(href="#").footer__menu-link Privacy policy
