.header
	.container.container_wide.header__inner
		.header__logo
			a(href="/")
				img(src="./assets/images/logo.svg" alt="vijn")
		.header__menu.js-menu-container
			button(type="button").button.button_view_transparent.button_size_sm.header__menu-trigger.js-menu-trigger
				span Menu
				.header__menu-trigger-icon
					span
			include ../content/mixins/menu
			.header__overlay.js-menu-overlay