.header
	.container.container_wide.header__inner
		.header__logo
			a(href="/")
				svg(width="103" height="41" viewBox="0 0 103 41" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M46.54 29.1826L40.0566 12.0405H45.779L49.5939 23.8838L53.4087 12.0405H59.1311L52.6477 29.1826H46.54Z" fill="#293D66")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M68.6657 3.46956C68.6657 5.04744 67.3847 6.32657 65.8046 6.32657C64.2244 6.32657 62.9434 5.04744 62.9434 3.46956C62.9434 1.89168 64.2244 0.612549 65.8046 0.612549C67.3847 0.612549 68.6657 1.89168 68.6657 3.46956ZM62.9434 29.1826H68.6657V12.0406H62.9434V29.1826Z" fill="#293D66")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M77.2495 6.32657C78.8289 6.32657 80.1107 5.04663 80.1107 3.46956C80.1107 1.89249 78.8289 0.612549 77.2495 0.612549C75.6701 0.612549 74.3883 1.89249 74.3883 3.46956C74.3883 5.04663 75.6701 6.32657 77.2495 6.32657ZM68.9693 40.6126H69.3222C71.4871 40.6126 74.8309 40.4907 77.322 38.0108C79.1722 36.1709 80.1107 33.4224 80.1107 29.8416V12.0406H74.3883V29.8378C74.3883 31.2187 74.1976 33.0548 73.282 33.9652C72.3321 34.91 70.4781 34.9043 68.9884 34.8985H68.666V40.6126H68.9693Z" fill="#293D66")
					path(d="M103 29.184H97.2777V19.0887C97.2777 17.5649 96.7056 15.4697 94.4165 15.4697C92.1275 15.4697 91.5553 17.5649 91.5553 19.0887V29.184H85.833V12.0374H90.1839L90.9526 13.3709C90.9526 13.3709 92.8104 11.0887 95.8528 11.0887C102.496 11.0887 103 17.3637 103 18.701V29.184Z" fill="#293D66")
					path(d="M18.5957 6.40263C24.2398 7.10521 28.6098 11.909 28.6098 17.7353C28.6098 19.3062 28.2912 20.8046 27.7171 22.1679L32.6993 25.0392C33.7465 22.8229 34.334 20.3477 34.334 17.7353C34.334 8.75218 27.41 1.38554 18.5976 0.658203V6.40263H18.5957Z")
					g(class="sign")
						g(class="sign__segment sign__segment-1")
							path(d="M18.5957 6.40263C24.2398 7.10521 28.6098 11.909 28.6098 17.7353C28.6098 19.3062 28.2912 20.8046 27.7171 22.1679L32.6993 25.0392C33.7465 22.8229 34.334 20.3477 34.334 17.7353C34.334 8.75218 27.41 1.38554 18.5976 0.658203V6.40263H18.5957Z" fill="#FF3333")
						g(class="sign__segment sign__segment-2")
							path(d="M26.2819 24.6476C24.1913 27.3941 20.8857 29.1693 17.1643 29.1693C13.4429 29.1693 10.1373 27.3941 8.04669 24.6476L3.06445 27.5198C6.16596 31.9691 11.3237 34.8833 17.1643 34.8833C23.0049 34.8833 28.1645 31.9691 31.2641 27.5198L26.2819 24.6476Z" fill="#293D66")
						g(class="sign__segment sign__segment-3")
							path(d="M6.61501 22.1753C6.03897 20.8115 5.72233 19.3145 5.72233 17.7412C5.72233 11.9129 10.0923 7.10933 15.7364 6.4046V0.658203C6.92402 1.38388 0 8.75497 0 17.7412C0 20.3544 0.587493 22.8305 1.63468 25.0475L6.61501 22.1753Z" fill="#293D66")

		.header__menu.js-menu-container
			button(type="button").button.button_view_transparent.button_size_sm.header__menu-trigger.js-menu-trigger
				span Menu
				.header__menu-trigger-icon
					span
			include ../content/mixins/menu
			.header__overlay.js-menu-overlay