.header
	.container.container_wide.header__inner
		.header__logo
			img(src="./assets/images/logo.svg" alt="vijn")
		.header__menu
			nav.menu
				ul.menu__inner
					li.menu__item
						a(href="#").menu__link Release notes
					li.menu__item
						a(href="#").menu__link Blog
					li.menu__item
						a(href="#").menu__link About us
					li.menu__item
						a(href="#").menu__link FAQ
					li.menu__item
						a(href="#").menu__link User guide
					li.menu__item
						a(href="#").menu__link.menu__link_button  Register
					li.menu__item
						a(href="#").menu__link  Log in
