:root {
	--color-bg-brand: #293D66;
	--color-bg-default: #EEEFF1;
	--color-bg-border: #2E384D;
	--color-bg-stripe: #77B200;

	--color-text-primary: #1F2533;
	--color-text-secondary: #2E384D;
	--color-text-alternate: #ffffff;

	--color-link: #5266CC;
	--color-link-external: #293D66;
}

.theme_base_dark {
	--color-bg-brand: #A3B2D5;
	--color-bg-default: #28334A;
	--color-bg-border: #E6E6E6;

	--color-text-primary: #EEEFF1;
	--color-text-secondary: #E6E6E6;

	--color-link: #EEEFF1;
	--color-link-external: #EEEFF1;
}
