.menu {
	&__inner {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		&:nth-last-child(2) {
			&::before {
				content: '|';
				margin: 0 60px 0 40px;
			}
		}
	}

	&__link {
		padding: 10px 20px;
		color: var(--color-link-external);

		&_button {
			margin-right: 20px;
		}
	}
}

@media screen and (--screen-m) {
	.menu {
		position: fixed;
		top: 0;
		right: 0;
		width: 240px;
		height: 100%;
		padding-top: 100px;
		transform: translateX(250px);
		background-color: var(--color-bg-default);
		transition: transform .3s ease-in-out;

		&__inner {
			flex-direction: column;
			height: 100%;
			padding: 0 40px;
			text-align: right;
			overflow-x: auto;
		}

		&__item {
			margin-bottom: 20px;

			&:nth-last-child(2) {
				position: relative;
				margin-top: 60px;

				&::after {
					content: "–";
					position: absolute;
					top: -40px;
					right: 0;
					font-weight: bold;
				}

				&::before {
					display: none;
				}
			}
		}

		&__link {
			display: block;
			width: 100%;
			padding-right: 0;
			padding-left: 0;
			font-size: 20px;

			&_button {
				border: none;
				margin: 0;

				&:hover {
					color: var(--color-link-external);
					background-color: transparent;
				}
			}
		}
	}
}

@media screen and (--screen-xxs) {
	.menu {
		&__inner {
			padding: 0 20px;
		}
	}
}