.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 40px;

	&_wide {
		max-width: 1920px;
	}
}

.section {
	border-top: 2px solid var(--color-bg-stripe);

	&__inner {

	}

	&__title {
		text-align: center;
		margin-bottom: 80px;
	}

	&__subtitle {
		text-align: center;
		font-weight: normal;
	}
}

@media screen and (--screen-l) {
	.container {
		padding: 0 80px;

		&_wide {
			padding: 0 40px;
		}
	}

	.section {
		border-top: none;
	}
}

@media screen and (--screen-s) {
	.container {
		padding: 0 40px;
	}
}

@media screen and (--screen-xxs) {
	.container {
		padding: 0 20px;
	}
}