.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 40px;

	&_narrow {
		max-width: 960px;
	}

	&_wide {
		max-width: 1920px;
	}

	.container {
		padding: 0;
	}
}

.section {
	&__inner {

	}

	&__title {
		text-align: center;
		margin-bottom: 80px;
	}

	&__subtitle {
		margin-bottom: 0;
		text-align: center;
		font-weight: normal;
	}
}

.layout {
	padding: 160px 0 260px 0;

	&__inner {}

	&__title {
		margin-bottom: 160px;
		text-align: center;
	}

	&__content {}
}

@media screen and (--screen-l) {
	.container {
		padding: 0 80px;

		&_wide {
			padding: 0 40px;
		}
	}

	.section {
		border-top: none;
	}
}

@media screen and (--screen-m) {
	.layout {
		padding: 80px 0 120px 0;

		&__title {
			margin-bottom: 80px;
			text-align: center;
		}
	}
}

@media screen and (--screen-s) {
	.container {
		padding: 0 40px;
	}
}

@media screen and (--screen-xxs) {
	.container {
		padding: 0 20px;
	}
}