mixin questionsSlider(items)
	.questions__inner.questions-slider
		.swiper-container.js-questions-slider
			.swiper-wrapper
				each item in items
					.swiper-slide.questions-card
						.questions-card__image
							img(src= item.image alt=item.title)
						.questions-card__aside
							h3.questions-card__title= item.title
							.questions-card__description !{item.description}
			.swiper-pagination

+questionsSlider([
	{
		image: './assets/images/illustrations/illustration_1.svg',
		title: 'How does it work?',
		description: '<p>Vijn scans sites by sending requests and analyzing the responses. If a vulnerability is suspected, it sends requests to confirm this.</p> <p>Scanning methods include signature analysis (determining the version of software in use and using this information to probe for known vulnerabilities) plus a number of heuristics.</p> <p>Thanks to this, we can scan popular platforms, including WordPress, Drupal, and Joomla, as well as self-written sites (such as corporate portals or custom-developed online stores).</p>'
	},
	{
		image: './assets/images/illustrations/illustration_2.svg',
		title: 'Why is it free?',
		description: '<p>We want to make the web safer and offer a win–win approach: users can check their websites for security vulnerabilities for free while we get the opportunity to improve our threat detection technology.</p>'
	},
	{
		image: './assets/images/illustrations/illustration_3.svg',
		title: 'How do I prove that I own the website? ',
		description: '<p>You can do this in one of two ways: use our ground-breaking method downloading a lightweight open-source program that tunnels all requests through the \'user\'s machine (our servers carry the load), or place a confirmation file in the root directory.</p>'
	},
	{
		image: './assets/images/illustrations/illustration_4.svg',
		title: 'Is it possible to scan third-party websites? ',
		description: '<p>We advocate for a responsible web. This is why you can scan a third-party website as long as you have obtained permission from its owner.  Refer to our terms and conditions to learn more.</p>'
	},
	{
		image: './assets/images/illustrations/illustration_5.svg',
		title: 'Does the scanner guarantee my website is 100% protected? ',
		description: '<p>No scanner can provide a total guarantee. To withstand modern threats, our advice is to stick to a comprehensive approach that includes:</p><ul><li>Update you software regularly to make sure they meet the latest security requirements</li><li>A web application firewall (WAF) to secure your website against web attacks</li><li>Review of your web application\'s source code to find vulnerabilities early in development </li><li>Regular audits of your web assets, including with pentests, to make sure \'you\'re up to date with the latest protection measures.</li></ul>'
	},
])