mixin step(items)
	.steps
		.steps__inner
			each item in items
				.steps__item
					.step
						.step__title= item.title
						.step__description= item.description
						.step__dot
		.steps__line
			img(src="./assets/images/line.svg" alt="line")

+step([
	{
		title: 'I',
		description: 'Enter a URL'
	},
	{
		title: 'II',
		description: 'Verify you own the website'
	},
	{
		title: 'III',
		description: 'Get in-depth vulnerability report.'
	}
])