.questions {
	padding: 90px 120px;

	&__inner {
		.swiper-container {
			padding-right: 50px;
		}
	}
}

@media screen and (--screen-s) {
	.questions {
		&__inner {
			.swiper-wrapper {
				flex-direction: column;
			}
		}
	}
}

@media screen and (--screen-xs) {
	.questions {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media screen and (--screen-xxs) {
	.questions {
		padding-left: 0;
		padding-right: 0;
	}
}