doctype html
html
	head
		link(rel="stylesheet" media="screen" href="./css/styles.css")
	body(class="theme_base_default")
		include ../partials/header

		block content

		include ../partials/footer

		script(src="../js/vendor/vendor.js")
		script(src="./js/app.min.js")
