.tabs.js-tabs
	.tabs__panels
		.tabs-panel.content.js-tabs-panel.is-active
			ol
				li General provisions
					ol
						li This license agreement (hereinafter referred to as the “Agreement”) is entered into between /name of our company/ (hereinafter referred to as the “Rightholder”), either being the rightholder of the Vijn software (hereinafter referred to as the “Software”) or having procured the rights to distribute and provide the Software from its respective rightholder, and an individual user that uses the Software for personal needs (hereinafter referred to as the User) with respect to the Software.
						li The usage of the Software is allowed only under the terms and conditions of this Agreement. By using the Software, the User agrees to fulfill the terms and conditions of the Agreement.
						li Running or any other usage of the Software implies that the User agrees to the conditions of the Agreement. If the User does not fully accept the Agreement, the User may not use the Software for any purpose.
						li The Software is a cloud-based web-application security scanner. It’s purpose is to detect vulnerabilities on websites and in applications which can be accessed through the web or local networks, and inform the User of any detected threats.
						li By using the Software, the User agrees and acknowledges that the Software will only be used to detect vulnerabilities on User-owned websites or on websites whose owners have given the User their consent to use the Software with respect to their websites.
						li The User understands that the improper use of the Software, as well as the use of the Software beyond the purposes specified in Paragraph 1.5 of this Agreement, may lead to suspension or failure of the website, in respect of which the Software is used, and agrees to assume any liability for consequences of the above mentioned events in full.
				li Terms of use
					ol
						li The User agrees to use the Software only for personal needs, only for the intended purpose specified in Paragraph 1.4 of this Agreement, and strictly within the limits set by the Agreement, including the restrictions specified in Paragraph 1.5 of this Agreement.
						li Under the terms and conditions of the Agreement, the User receives a non-exclusive right to use the Software limited by the right to launch the Software located on the Rightholder's server through the interface provided by the Rightholder's website.
						li If the interface provided by the Rightholder's website allows the User to download the Software components to his/her personal computer, the User also receives a non-exclusive right to reproduce a single copy of the Software component by downloading from the Rightholder's server and placing it on his/her personal computer, and use this copy under the terms and conditions of the Agreement, solely to the extent of functional use of the Software and only during the lifetime of this Agreement.
						li Any use of the Software that is not expressly specified in Paragraphs 2.2 and 2.3 of this Agreement is not allowed.
						li The right to use the Software is provided for the duration of the session during which the User has access to the Software, regardless of its duration and reasons for termination.
						li The right to use the Software is granted free of charge.
						li The User shall not modify, localize, or decompile the Software except as specified under the applicable laws, nor shall the User make any changes to the source code of the Software.
						li Unless otherwise specified in the Contract, the User shall not distribute, lease, replicate, or transfer the Software to third parties, or use it for fraudulent or other illegal purposes.
						li The User shall not use the Software in ways that violate the laws of Delaware, USA.
						li The User may not perform any actions that do not comply with the conditions of this Agreement.
				li Exclusive rights
					ol
						li The Rightholder of the Software is either the Company or its licensors. The exclusive rights to the Vijn software are protected by existing national laws and international intellectual property treaties.
						li The Software includes software of the third parties, which is not a subject of intellectual property rights or other rights of the Rightholder. These modules are allowed to be a part of the Software in case all appropriate licenses for the modules are followed. By agreeing to the terms of the Software license, the User therefore accepts the conditions specified in the licenses to the third-parties software published at the following address: ________.
						li All rights that are not directly and explicitly granted by the Agreement shall remain with the respective rightholders.
						li The User may not remove or change the Rightholder's and third parties' copyright information.
				li Release of information
					ol
						li The User accepts and agrees to provide the following personal information, which may be requested in the process of gaining access to the Software hosted by the Rightholder on the server for usage according to its functional purpose:
							ul
								li Email address
								li User name
								li User password
								li Occupation
						li The User accepts and agrees that in the process of using the Software according to its functional purpose, the Software may automatically transfer to the Rightholder the following information about websites scanned by the User using the Software:
							ul
								li Website name
								li Website URL
								li Technical information on the detected vulnerabilities
								li Scan start and end time
								li Scan duration
							Such information does not refer directly or indirectly to a particular or designated individual and therefore is not deemed as personal data.
				li Disclaimer
					ol
						li The Software is provided as is. The Rightholder gives no warranties of uninterrupted or error-free access to the Software, operation of the Software, compliance of the Software with specific purposes and expectations of the User, as well as security, stable operation, and availability of websites in respect of which the Software is used. The Rightholder is not liable for direct or indirect damages resulting from potential errors in the Software, as well as for damages that might result from using or impossibility to use the Software.
						li The terms of Paragraph 5.1 of the Agreement apply to the Software as a single product, regardless of the terms of the third-party licenses relating to their software included as part of the Software. In the event that the terms of such third-party software licenses provide a greater scope of guarantees than the terms of the Agreement, ensuring such conditions is the responsibility of the respective rightholders.
						li The Rightholder does not provide any guarantees and is not responsible for the technical ability to gain access to the Software.
				li Liability
					ol
						li The User shall be liable for any breach of the terms of this Agreement and for the illegal usage of the Software under the current legislation of England and Wales.
						li The User is responsible for any possible losses, termination of normal operation, or damage to websites owned by the User or third parties in respect of which the Software was used.
						li The Rightholder reserves the right to terminate the User's license unilaterally in case of any breach of the terms of this Agreement and in case of illegal usage of the Software.
				li Other provisions
					ol
						li This Agreement is governed by the laws of Delaware, USA.
						li The Rightholder reserves the right to modify the conditions of this Agreement by notice to the User. The posting of information regarding changes to the terms of the Agreement on the official Rightholder's website or on the website that provides the User with access to the Software is deemed a proper notification.
						li The User may contact the Rightholder, should the User have any questions regarding the permitted use of the Software: /name of the company/ /address/ E-mail: 