.header {
	padding-top: 40px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	 }

	&__logo {}

	&__menu {}

	+ .section {
		border: none;
	}
}

@media screen and (--screen-m) {
	.header {
		&__menu {
			display: none;
		}
	}
}

@media screen and (--screen-xxs) {
	.header {
		padding-top: 20px;
	}
}
